---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
}

const { href, external, underline = true, ...rest } = Astro.props;
---

<a 
  href={href} 
  target={ external ? "_blank" : "_self" } 
  class={cn("inline-block text-current decoration-[color:var(--color-border-strong)] transition-colors duration-300 ease-in-out hover:text-[color:var(--color-heading)] hover:decoration-[color:var(--color-accent)]", underline && "underline underline-offset-2")}
  {...rest}>
  <slot/>
</a>
